@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  --color-brand-50: #fbf9f6;
  --color-brand-100: #f3ece4;
  --color-brand-500: #b49f85;
  --color-brand-600: #937f66;
  --color-brand-900: #3b332b;
}

body {
  @apply font-sans bg-brand-50 text-brand-900;
}